div#hk_popup {
	font-family: sans-serif;
	position: absolute;
	z-index: 999;
	display: none;
	background-color: #FFF;
	color: #333;
	border: 1px solid #333;
	padding: 10px;
}

div#hk_popup span.kanji {
	font-weight: bold;
	font-size: 72px;
}
